.app.dark {
    --bg-color: #000c48;
    --inverted-bg-color: #979baf;
    --primary-color: #02ff65;
    --seconary-color: #04a443;
    --inverted-primary-color: #0a4dc5;
    --inverted-seconary-color: #000673;
}
