:root {
    --bg-color: #979baf;
    --inverted-bg-color: #000c48;
    --primary-color: #0a4dc5;
    --seconary-color: #000673;
    --inverted-primary-color: #02ff65;
    --inverted-seconary-color: #04a443;
}
