.app.normal {
    --bg-color: #979baf;
    --inverted-bg-color: #000c48;
    --primary-color: #192949;
    --seconary-color: #000673;
    --inverted-primary-color: #04a443;
    --inverted-seconary-color: #03c94f;
}
