.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.editBtn {
    margin-left: auto;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.avatarWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.input {
    margin-top: 10px;
}

.editing {
    opacity: 0.7;
    border: 2px solid var(--inverted-primary-color);
}
